/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #d23982;
}

section {
  padding-top: 20px;
  padding-bottom: 24px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.text-center {
  text-align: center;
}

.fw-bold {
  font-weight: bold;
}

.header {
  background-color: #7ac4c5;
}
.header h1 {
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 24px;
}
.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header nav ul {
  display: flex;
  gap: 16px;
}

.home {
  height: calc(100vh - 140px);
}

.tour-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
.tour-list li {
  padding: 0 12px;
  margin-bottom: 80px;
  padding: 16px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1607843137);
  border: 1px solid #DEE2E6;
  border-radius: 4px;
}
.tour-list img {
  max-width: 300px;
  height: 200px;
  border-radius: 4px;
}
.tour-list img:hover {
  opacity: 0.5;
  transition-duration: 0.3s;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.load {
  display: flex;
  justify-content: center;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #d23982;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 30px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.footer {
  background-color: #7ac4c5;
}
.footer p {
  padding: 16px 0;
}/*# sourceMappingURL=all.css.map */